@charset "utf-8";
@import url('reset.css');


@font-face {
    font-family: 'Abril Fatface';
    src: url('../font/Abril\ Fatface/AbrilFatface-Regular.woff2') format('woff2'),
        url('../font/Abril\ Fatface/AbrilFatface-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('../font/Abhaya\ Libre/AbhayaLibre-ExtraBold.woff2') format('woff2'),
        url('../font/Abhaya\ Libre/AbhayaLibre-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Regular.eot');
    src: url('../font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Medium.eot');
    src: url('../font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-SemiBold.eot');
    src: url('../font/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Bold.eot');
    src: url('../font/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: #F3F4F6;
    font-family: 'Pretendard';
    color: #333333;
}

.header .inner,
.main .inner,
.footer .inner{
    max-width: 1920px;
    width: 1600px;
    margin: 0 auto;
}

.header{
    margin: 0 auto;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.header .inner{
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 999;
    background-color: #F3F4F6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .inner .logo{
    order: 2;
    margin-right: 416px;
}
.header .inner .logo img{
    width: 428px;
    object-fit: cover;
}

.header .inner .nav .gnb{
    display: flex;
    gap: 35px;
    font-family: 'Abhaya Libre';
    font-weight: bold;
    font-size: 22px;
    margin-right: 109px;
}
.header .inner .nav .gnb > li{
    position: relative;
}
.header .inner .nav .gnb > li .depth-01{
    display: block;
    line-height: 90px;
}
.header .inner .nav .gnb > li .depth-02{
    min-width: 200px;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 30px;
    z-index: 9;
    text-align: center;
    display: none;
}
.header .inner .nav .gnb > li .depth-02 li a{
    display: block;
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #454545;
    white-space: nowarp;
}
.header .bg{
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 90px;
    left: 0;
    display: none;
}
.header .bg span{
    position: absolute;
    left: -999999999px;
}

.header .inner .util{
    order: 3;
}
.header .inner .util ul{
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}
.header .inner .util img{
    width: 40px;
    object-fit: cover;
}


.main .inner{
    width: 100%;
}
.main .inner .main_visual{
    width: 100%;
    height: 750px;
    margin-bottom: 300px;
}
.main .inner .main_visual .swiper-slide{
    width: 100%;
    height: 750px;
    position: relative;
}
.main .inner .main_visual .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .inner .main_visual .swiper-slide::after{
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
  pointer-events: none;
  z-index: 1;
}
/* .main .inner .main_visual .swiper-slide:nth-child(1)::after,
.main .inner .main_visual .swiper-slide:nth-child(3)::after,
.main .inner .main_visual .swiper-slide:nth-child(4)::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
  pointer-events: none;
  z-index: 1;
} */
.main .inner .main_visual .swiper-slide .text{
    position: absolute;
    z-index: 10;
    bottom: 205px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main .inner .main_visual .swiper-slide .text strong{
    font-size: 60px;
    font-family: 'Abril Fatface';
    font-weight: 1000;
    color: #fff;
    text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 1px #BCBCBC;
}
.main .inner .main_visual .swiper-slide .button{
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    z-index: 10;
    opacity: 1;
}
.main .inner .main_visual .swiper-slide .button .left{
    font-family: 'Pretendard';
    font-size: 20px;
    color: #575757;
    font-weight: bold;
    width: 150px;
    height: 54.55px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    text-align: center;
    line-height: 54.55px;
}
.main .inner .main_visual .swiper-slide .button .right{
    font-family: 'Pretendard';
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    width: 150px;
    height: 54.55px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    text-align: center;
    line-height: 50.55px;
    background: transparent;
    opacity: 1;
}
.main-pagination .swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  border-radius: 3px;
  background: #838383;
  opacity: 0.5;
  margin: 0 10px;
  transition: opacity 0.3s;
}
.main-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}



.main .inner .section-01{
    width: 1600px;
    margin: 0 auto;
    margin-bottom: 300px;
}
.main .inner .section-01 .new_main{
    position: relative;
    margin-bottom: 20px;
}
.main .inner .section-01 .new_main img{
    width: 100%;
    object-fit: cover;
}
.main .inner .section-01 .new_main .title{
    position: absolute;
    bottom: 84px;
    left: 70px;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}
.main .inner .section-01 .new_main .title h2{
    font-family: 'Abril Fatface';
    font-size: 80px;
    color: #fff;
    text-shadow: 10px 13px 5px rgba(0, 0, 0, 0.3);
}
.main .inner .section-01 .new_main .title p{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: underline;
}
.main .inner .section-01 .list-01{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
    max-width: calc(790px * 2 + 40px); 
    margin: 0 auto;
}
.main .inner .section-01 .list-01 .item {
    width: 790px;
    box-sizing: border-box;
    position: relative;
    border: 2px solid #E5E5E5;
}
.main .inner .section-01 .list-01 .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.main .inner .section-01 .list-01 .item .tab_btn button{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}
.main .inner .section-01 .list-01 .item .tab_btn .active{
    display: block;
}
.main .inner .section-01 .list-01 .item .tab_btn button img{
    width: 45px;
}
.main .inner .section-01 .list-01 .item .text{
    position: absolute;
    bottom: 20px;
    right: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}
.main .inner .section-01 .list-01 .item .text p{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
}
.main .inner .section-01 .list-01 .item .text b{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: bold;
}


.main .inner .section-01 .list-02{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.section-01 .list-02 .item{
    width: 520px;
    height: 400px;
    position: relative;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
}
.section-01 .list-02 .item .img_wrap img{
    width: 100%;
    object-fit: cover;
}
.section-01 .list-02 .item .img_wrap img.hover{
    display: none;
    z-index: 2;
}
.section-01 .list-02 .item:hover .img_wrap img.hover{
    display: block;
}
.section-01 .list-02 .item:hover .img_wrap img.default{
    display: none;
}

.main .inner .section-01 .list-02 .item .tab_btn button{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}
.main .inner .section-01 .list-02 .item .tab_btn .active{
    display: block;
}
.main .inner .section-01 .list-02 .item button img{
    width: 45px;
}
.main .inner .section-01 .list-02 .item .text{
    position: absolute;
    bottom: 20px;
    right: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main .inner .section-01 .list-02 .item .text p{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
}
.main .inner .section-01 .list-02 .item .text b{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: bold;
}
.swiper.newproduct {
    position: relative;
    padding-bottom: 30px;
}
.newproduct-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.newproduct-pagination .swiper-pagination-bulle{
    width: 10px;
    height: 10px;
    background-color: #E7E7E7;
    margin: 0 20px;
}
.newproduct-pagination .swiper-pagination-bullet-active{
    background: #999999;
}



.section-02{
    margin-bottom: 325px;
}
.section-02 .collection{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 0 auto;
}
.section-02 .collection .list-01{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.section-02 .collection .list-01 .item{
    width: 410px;
    position: relative;
    border: 2px solid #E5E5E5;
}
.section-02 .collection .list-01 .item .img_wrap{
    position: relative;
}
.section-02 .collection .list-01 .item .img_wrap::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 3;
}
.section-02 .collection .list-01 .item img{
    width: 100%;
    object-fit: cover;
}
.section-02 .collection .list-01 .item .hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.section-02 .collection .list-01 .item:hover .hover{
    display: block;
    z-index: 2;
}
.section-02 .collection .list-01 .item:hover .img_wrap::after{
    opacity: 1;
}
.section-02 .collection .list-01 .item .tab_btn button{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    display: none;
}
.section-02 .collection .list-01 .item .tab_btn button.active{
    display: block;
    z-index: 10;
}
.section-02 .collection .list-01 .item button img{
    width: 45px;
}
.section-02 .collection .list-01 .item .text{
    position: absolute;
    bottom: 20px;
    right: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 3;
    text-align: left;
}
.section-02 .collection .list-01 .item .text p{
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 600;
}
.section-02 .collection .list-01 .item .text b{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
}

.section-02 .collection .collection_main{
    width: 740px;
}
.section-02 .collection .collection_main img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 60px;
}
.section-02 .collection .collection_main h2{
    text-align: center;
    font-size: 75px;
    font-family: 'Abril Fatface';
}
.section-02 .collection .list-02{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.section-02 .collection .list-02 .item{
    width: 410px;
    position: relative;
    border: 2px solid #E5E5E5;
}
.section-02 .collection .list-02 .item .img_wrap{
    position: relative;
}
.section-02 .collection .list-02 .item .img_wrap::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 3;
}
.section-02 .collection .list-02 .item img{
    width: 100%;
    object-fit: cover;
}
.section-02 .collection .list-02 .item .hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.section-02 .collection .list-02 .item:hover .hover{
    display: block;
    z-index: 2;
}
.section-02 .collection .list-02 .item:hover .img_wrap::after{
    opacity: 1;
}
.section-02 .collection .list-02 .item .tab_btn button{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    display: none;
}
.section-02 .collection .list-02 .item .tab_btn button.active{
    display: block;
    z-index: 10;
}
.section-02 .collection .list-02 .item button img{
    width: 45px;
}
.section-02 .collection .list-02 .item .text{
    position: absolute;
    bottom: 20px;
    right: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 3;
    text-align: left;
}
.section-02 .collection .list-02 .item .text p{
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 600;
}
.section-02 .collection .list-02 .item .text b{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
}
.section-02 .text{
    font-family: 'Pretendard';
    text-align: center;
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.section-02 .text p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
}
.section-02 .text button{
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
}


.section-03{
    width: 1920px;
    height: 800px;
    background-color: #454545;
    margin-bottom: 200px;
}
.section-03 .title{
    padding: 83px 0 25px 100px;
    display: flex;
    align-items: center;
}
.section-03 .title h2{
    font-size: 50px;
    font-family: 'Abril Fatface';
    color: #fff;
}
.section-03 .title img{
    width: 60px;
}

.section-03 .list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    gap: 20px;
}
.section-03 .list .item{
    width: 385px;
    height: 530px;
    position: relative;
}
.section-03 .list .item img{
    width: 100%;
    object-fit: cover;
}
.section-03 .list .item .img_wrap img.hover{
    display: none;
    z-index: 2;
}
.section-03 .list .item:hover .img_wrap img.hover{
    display: block;
}
.section-03 .list .item:hover .img_wrap img.default{
    display: none;
}
.section-03 .list .item .tab_btn button{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    display: none;
}
.section-03 .list .item .tab_btn button.active{
    display: block;
}
.section-03 .list .item button img{
    width: 100%;
    object-fit: cover;
}
.section-03 .list .item .text{
    position: absolute;
    bottom: 25px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.section-03 .list .item .text p{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500;
}
.section-03 .list .item .text b{
    font-family: 'Pretendard';
    font-size: 22px;
    font-weight: bold;
}
.best-pagination{
    display: none;
}



.footer{
    width: 1920px;
    margin: 0 auto;
    background-color: #EFEFEF;
    font-family: 'Pretendard';
}
.footer .inner .footer_nav{
    padding-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .inner .footer_nav .gnb{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer .inner .footer_nav .gnb li{
    font-size: 20px;
    font-weight: 600;
}
.footer .inner .footer_nav .footer_logo b{
    font-size: 22px;
    font-weight: 600;
}
.footer .inner .sns{
    margin-bottom: 20px;
}
.footer .inner .sns .gnb{
    display: flex;
    align-items: center;
    gap: -10px;
}
.footer .inner .sns .gnb li{
    width: 100px;
}
.footer .inner .sns .gnb li img{
    width: 100%;
    object-fit: cover;
}
.footer .inner .info_wrap .address ul{
    color: #8D8D8D;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
.footer .inner .info_wrap .address ul:last-child{
    margin-top: 80px;
    padding-bottom: 90px;
}
.footer .inner .info_wrap .address ul li{
    position: relative;
}
.footer .inner .info_wrap .address ul li::before{
    content: '';
    width: 1px;
    height: 15px;
    background-color: #8D8D8D;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}
.footer .inner .info_wrap .address ul li:first-child::before{
    display: none;
}