@charset "utf-8";
@import url('reset.css');


@font-face {
    font-family: 'Abril Fatface';
    src: url('../font/Abril\ Fatface/AbrilFatface-Regular.woff2') format('woff2'),
        url('../font/Abril\ Fatface/AbrilFatface-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('../font/Abhaya\ Libre/AbhayaLibre-ExtraBold.woff2') format('woff2'),
        url('../font/Abhaya\ Libre/AbhayaLibre-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Abhaya Libre';
    src: url('../font/Abhaya\ Libre/AbhayaLibre-SemiBold.woff2') format('woff2'),
        url('../font/Abhaya\ Libre/AbhayaLibre-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Regular.eot');
    src: url('../font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Medium.eot');
    src: url('../font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-SemiBold.eot');
    src: url('../font/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard/Pretendard-Bold.eot');
    src: url('../font/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('../font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: #F3F4F6;
    font-family: 'Pretendard';
    color: #333333;
    overflow-x: hidden;
}


.header{
    max-width: 1600px;
    min-width: 1440px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.header .inner{
    max-width: 1600px;
    min-width: 1440px;
    padding: 0 80px;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 999;
    background-color: #F3F4F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .logo{
    order: 2;
    position: absolute;  
    left: 50%;     
    top: 50%;          
    transform: translate(-50%, -50%);
    z-index: 10; 
}
.header .inner .logo img{
    width: 280px;
    object-fit: cover;
}

.header .inner .nav .gnb{
    display: flex;
    gap: 35px;
    font-family: 'Abhaya Libre';
    font-weight: 600;
    font-size: 21px;
}
.header .inner .nav .gnb > li{
    position: relative;
}
.header .inner .nav .gnb > li .depth-01{
    display: block;
    line-height: 70px;
}
.header .inner .nav .gnb > li .depth-02{
    min-width: 200px;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;
    z-index: 9;
    text-align: center;
    display: none;
}
.header .inner .nav .gnb > li .depth-02 li a{
    display: block;
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #454545;
    white-space: nowarp;
}
.header .inner .nav .gnb > li .depth-02 li a:hover{
    font-weight: 600;
}
.header .bg{
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
}
.header .bg span{
    position: absolute;
    left: -999999999px;
}

.header .inner .util{
    order: 3;
}
.header .inner .util ul{
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
}
.header .inner .util img{
    width: 30px;
    object-fit: cover;
}


.main .inner{
    max-width: 1600px;
    min-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
.main .inner .main_visual{
    width: 100%;
    height: 650px;
    margin-bottom: 300px;
}
.main .inner .main_visual .swiper-slide{
    width: 100%;
    height: 650px;
    position: relative;
}
.main .inner .main_visual .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .inner .main_visual .swiper-slide::after{
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
  pointer-events: none;
  z-index: 1;
}
.main .inner .main_visual .swiper-slide .text{
    position: absolute;
    z-index: 10;
    bottom: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main .inner .main_visual .swiper-slide .text strong{
    font-size: 65px;
    font-family: 'Abril Fatface';
    font-weight: 1000;
    color: #fff;
    text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 1px #BCBCBC;
    white-space: nowrap;
}
.main .inner .main_visual .swiper-slide .button{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    z-index: 10;
    opacity: 1;
}
.main .inner .main_visual .swiper-slide .button .left{
    font-family: 'Pretendard';
    font-size: 20px;
    color: #575757;
    font-weight: bold;
    width: 140px;
    height: 50px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    padding: 0;
}
.main .inner .main_visual .swiper-slide .button .right{
    font-family: 'Pretendard';
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    width: 140px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    text-align: center;
    line-height: 45px;
    background: transparent;
    opacity: 1;
    padding: 0;
}
.main-pagination .swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  border-radius: 3px;
  background: #838383;
  opacity: 0.5;
  margin: 0 10px;
  transition: opacity 0.3s;
}
.main-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}



.main .inner .section-01{
    max-width: 1600px;
    min-width: 1440px;
    margin: 0 auto 300px;
    width: 100%;
}
.main .inner .section-01 .new_main{
    width: 100%;
    padding: 0 100px;
    height: 320px;
    margin: 0 auto 30px;
    position: relative;
}
.main .inner .section-01 .new_main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .inner .section-01 .new_main .title{
    position: absolute;
    bottom: 45px;
    left: 50px;
    padding-left: 100px;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}
.main .inner .section-01 .new_main .title h2{
    font-family: 'Abril Fatface';
    font-size: 60px;
    color: #fff;
    text-shadow: 10px 13px 5px rgba(0, 0, 0, 0.3);
}
.main .inner .section-01 .new_main .title p{
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    color: #f5f5f5;
    text-decoration: underline;
}

.main .inner .section-01 .swiper-slide{
    max-width: 1600px;
    min-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
.main .inner .section-01 .list-01{
    width: 100%;
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
}
.main .inner .section-01 .list-01 .item {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border: 2px solid #E5E5E5;
}
.main .inner .section-01 .list-01 .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.main .inner .section-01 .list-01 .item .tab_btn button{
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
}
.main .inner .section-01 .list-01 .item .tab_btn .active{
    display: block;
}
.main .inner .section-01 .list-01 .item .tab_btn button img{
    width: 38px;
}
.main .inner .section-01 .list-01 .item .text{
    position: absolute;
    bottom: 20px;
    right: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}
.main .inner .section-01 .list-01 .item .text p{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
}
.main .inner .section-01 .list-01 .item .text b{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: bold;
}

.main .inner .section-01 .list-02{
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px auto 0;
}
.section-01 .list-02 .item{
    width: 460px;
    height: 328px;
    position: relative;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    background-color: #F3F4F6;
}
.section-01 .list-02 .item .img_wrap{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.section-01 .list-02 .item .img_wrap img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.section-01 .list-02 .item .img_wrap img.hover{
    opacity: 0;
}
.section-01 .list-02 .item:hover .img_wrap img.hover{
    opacity: 1;
}
.section-01 .list-02 .item:hover .img_wrap img.default{
    opacity: 0;
}

.main .inner .section-01 .list-02 .item .tab_btn button{
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
}
.main .inner .section-01 .list-02 .item .tab_btn .active{
    display: block;
}
.main .inner .section-01 .list-02 .item button img{
    width: 38px;
}
.main .inner .section-01 .list-02 .item .text{
    position: absolute;
    bottom: 20px;
    right: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main .inner .section-01 .list-02 .item .text p{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
}
.main .inner .section-01 .list-02 .item .text b{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: bold;
}
.swiper.newproduct {
    position: relative;
    padding-bottom: 30px;
}
.newproduct-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.newproduct-pagination .swiper-pagination-bulle{
    width: 10px;
    height: 10px;
    background-color: #E7E7E7;
    margin: 0 20px;
}
.newproduct-pagination .swiper-pagination-bullet-active{
    background: #999999;
}


.section-02{
    max-width: 1600px;
    min-width: 1440px;
    margin: 0 auto 325px;
    width: 100%;
    padding: 0 100px;
}
.section-02 .collection{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    margin: 0 auto;
}
.section-02 .collection .collection_main{
    width: 600px;
}
.section-02 .collection .collection_main img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 90px;
}
.section-02 .collection .collection_main h2{
    text-align: center;
    font-size: 70px;
    font-family: 'Abril Fatface';
}
.section-02 .collection .list-01,
.section-02 .collection .list-02{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.section-02 .collection .list-01 .item,
.section-02 .collection .list-02 .item{
    width: 330px;
    height: 401px;
    position: relative;
    border: 2px solid #E5E5E5;
}
.section-02 .collection .list-01 .item .img_wrap,
.section-02 .collection .list-02 .item .img_wrap{
    position: relative;
}
.section-02 .collection .list-01 .item .img_wrap::after,
.section-02 .collection .list-02 .item .img_wrap::after{
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 3;
}
.section-02 .collection .list-01 .item img,
.section-02 .collection .list-02 .item img{
    width: 100%;
    object-fit: cover;
}
.section-02 .collection .list-01 .item .hover,
.section-02 .collection .list-02 .item .hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.section-02 .collection .list-01 .item:hover .hover,
.section-02 .collection .list-02 .item:hover .hover{
    display: block;
    z-index: 2;
}
.section-02 .collection .list-01 .item:hover .img_wrap::after,
.section-02 .collection .list-02 .item:hover .img_wrap::after{
    opacity: 1;
}

.section-02 .collection .list-01 .item .tab_btn button,
.section-02 .collection .list-02 .item .tab_btn button{
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 10;
    display: none;
}
.section-02 .collection .list-01 .item .tab_btn button.active,
.section-02 .collection .list-02 .item .tab_btn button.active{
    display: block;
    z-index: 10;
}
.section-02 .collection .list-01 .item button img,
.section-02 .collection .list-02 .item button img{
    width: 40px;
}
.section-02 .collection .list-01 .item .text,
.section-02 .collection .list-02 .item .text{
    position: absolute;
    bottom: 25px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    z-index: 3;
    text-align: left;
}
.section-02 .collection .list-01 .item .text p,
.section-02 .collection .list-02 .item .text p{
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 500;
}
.section-02 .collection .list-01 .item .text b,
.section-02 .collection .list-02 .item .text b{
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 600;
}

.section-02 .text{
    font-family: 'Pretendard';
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.section-02 .text p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
}
.section-02 .text span{
    font-size: 17px;
    font-weight: 500;
    text-decoration: underline;
}


.section-03{
    max-width: 1600px;
    min-width: 1440px;
    margin: 0 auto 200px;
    width: 100%;
    height: 600px;
    background-color: #454545;
}
.section-03 .title{
    padding: 83px 0 25px 100px;
    display: flex;
    align-items: center;
}
.section-03 .title h2{
    font-size: 35px;
    font-family: 'Abril Fatface';
    color: #fff;
}
.section-03 .title img{
    width: 45px;
}
.section-03 .list .item{
    width: 250px;
    height: 344px;
    position: relative;
    background-color: antiquewhite;
}
.section-03 .swiper-slide{
    width: 250px !important;
    margin-right: 20px !important;
}

.section-03 .list .item img{
    width: 100%;
    object-fit: cover;
}
.section-03 .list .item .img_wrap img.hover{
    display: none;
    z-index: 2;
}
.section-03 .list .item:hover .img_wrap img.hover{
    display: block;
}
.section-03 .list .item:hover .img_wrap img.default{
    display: none;
}
.section-03 .list .item .tab_btn button{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 48px;
    display: none;
}
.section-03 .list .item .tab_btn button.active{
    display: block;
}
.section-03 .list .item button img{
    width: 100%;
    object-fit: cover;
}
.section-03 .list .item .text{
    position: absolute;
    bottom: 5px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 14px;
    white-space: nowrap;
}
.section-03 .list .item .text p{
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 500;
}
.section-03 .list .item .text b{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: bold;
}
.best-pagination{
    display: none;
}



.footer{
    max-width: 1600px;
    min-width: 1440px;
    width: 100%;
    padding: 0 80px;
    margin: 0 auto;
    background-color: #EFEFEF;
    font-family: 'Pretendard';
}
.footer .inner .footer_nav{
    padding-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .inner .footer_nav .gnb{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer .inner .footer_nav .gnb li{
    font-size: 18px;
    font-weight: 500;
}
.footer .inner .footer_nav .footer_logo b{
    font-size: 16px;
    font-weight: 600;
}
.footer .inner .sns{
    margin-bottom: 10px;
    margin-left: -20px;
}
.footer .inner .sns .gnb{
    display: flex;
    align-items: center;
    gap: -10px;
}
.footer .inner .sns .gnb li{
    width: 75px;
}
.footer .inner .sns .gnb li img{
    width: 100%;
    object-fit: cover;
}
.footer .inner .info_wrap .address ul{
    color: #8D8D8D;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
.footer .inner .info_wrap .address ul:last-child{
    margin-top: 50px;
    padding-bottom: 50px;
}
.footer .inner .info_wrap .address ul li{
    position: relative;
}
.footer .inner .info_wrap .address ul li::before{
    content: '';
    width: 1px;
    height: 15px;
    background-color: #8D8D8D;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}
.footer .inner .info_wrap .address ul li:first-child::before{
    display: none;
}