@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-Bold.woff2') format('woff2'),
        url('AbhayaLibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-Medium.woff2') format('woff2'),
        url('AbhayaLibre-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-ExtraBold.woff2') format('woff2'),
        url('AbhayaLibre-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-Regular.woff2') format('woff2'),
        url('AbhayaLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('AbhayaLibre-SemiBold.woff2') format('woff2'),
        url('AbhayaLibre-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

