@font-face {
    font-family: 'Abril Fatface';
    src: url('AbrilFatface-Regular.woff2') format('woff2'),
        url('AbrilFatface-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

